In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_excel(r"C:\Users\vivek\Downloads\Dataset_w6.xlsx")

In [3]:
df.head()

,country,Region,Surface area (km2),Population in thousands (2017),GDP per capita (current US$),Agricultural production index,International trade: Imports (million US$)
0,Afghanistan,SouthernAsia,652864.0,35530.0,623.2,125.0,3568.0
1,Albania,SouthernEurope,28748.0,2930.0,3984.2,134.0,4669.0
2,Algeria,NorthernAfrica,2381741.0,41318.0,4154.1,160.0,47091.0
3,Angola,MiddleAfrica,1246700.0,29784.0,4714.1,175.0,8790.0
4,Antigua and Barbuda,Caribbean,442.0,102.0,14764.5,88.0,491.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 7 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   country                                     196 non-null    object
 1   Region                                      196 non-null    object
 2   Surface area (km2)                          196 non-null    float64
 3   Population in thousands (2017)              196 non-null    float64
 4   GDP per capita (current US$)                196 non-null    float64
 5   Agricultural production index               196 non-null    float64
 6   International trade: Imports (million US$)  196 non-null    float64
dtypes: float64(5), object(2)
memory usage: 10.8+ KB

# Find out how many countries are there in the dataset

In [5]:
len(df['country'].unique())

196

# Find out how many countries with respect to the region are available in the
dataset

In [16]:
df.groupby('Region').count()['country'].reset_index()

               Region  country
0           Caribbean       16
1      CentralAmerica        8
2         CentralAsia        5
3       EasternAfrica       17
4         EasternAsia        7
5       EasternEurope       10
6           Melanesia        5
7          Micronesia        4
8        MiddleAfrica        9
9      NorthernAfrica        5
10    NorthernAmerica        4
11     NorthernEurope       10
12            Oceania        2
13          Polynesia        5
14  South-easternAsia       11
15       SouthAmerica       12
16     SouthernAfrica        5
17       SouthernAsia        9
18     SouthernEurope       12
19      WesternAfrica       15
20        WesternAsia       18
21      WesternEurope        7

# On average which region has the highest - GDP per capita (current US$)

In [19]:
df.groupby('Region').mean()['GDP per capita (current US$)'].sort_values(ascending=False)

Region
NorthernAmerica      57659.000000
WesternEurope        55387.128571
Oceania              44823.250000
NorthernEurope       42098.220000
EasternAsia          27967.614286
WesternAsia          17013.938889
Caribbean            15135.562500
SouthernEurope       14462.741667
South-easternAsia    10299.027273
EasternEurope         9292.490000
Melanesia             9261.960000
Polynesia             8686.520000
SouthAmerica          8499.775000
CentralAmerica        6348.137500
Micronesia            5008.300000
CentralAsia           4329.880000
SouthernAfrica        4191.900000
NorthernAfrica        3934.960000
MiddleAfrica          3928.833333
SouthernAsia          2968.400000
EasternAfrica         2088.852941
WesternAfrica         1013.140000
Name: GDP per capita (current US$), dtype: float64

# On average which region has the highest - International trade: Imports (million US$)

In [20]:
df.groupby('Region').mean()['International trade: Imports (million US$)'].sort_values(ascending=False)

Region
NorthernAmerica      663552.250000
EasternAsia          451995.000000
WesternEurope        407498.428571
NorthernEurope       113407.200000
Oceania              112914.500000
South-easternAsia     98324.636364
EasternEurope         85243.900000
SouthernEurope        76666.666667
SouthernAsia          58199.333333
CentralAmerica        57031.500000
WesternAsia           46025.555556
NorthernAfrica        35034.400000
SouthAmerica          32885.666667
SouthernAfrica        18005.600000
CentralAsia           12063.400000
WesternAfrica          4898.333333
EasternAfrica          4726.176471
MiddleAfrica           4381.222222
Caribbean              3057.312500
Melanesia              2896.400000
Polynesia               432.000000
Micronesia               99.000000
Name: International trade: Imports (million US$), dtype: float64

Northern America has the highest on mean International trade: Imports (million US$) and GDP per capita (current US$)

# Find out which region has more consistent with respect to GDP per capita
(current US$)

In [24]:
df.groupby('Region').std()['GDP per capita (current US$)'].sort_values(ascending=True)

Region
WesternAfrica          815.095399
NorthernAfrica         974.706575
SouthernAfrica        2177.551120
SouthernAsia          2855.708179
EasternAfrica         3716.131770
CentralAsia           4152.215490
CentralAmerica        4180.440883
SouthAmerica          4273.707394
Micronesia            4820.669694
MiddleAfrica          5274.846281
EasternEurope         5415.488739
Polynesia             6956.250286
Oceania               9233.329638
SouthernEurope        9541.703216
Melanesia            13855.842686
Caribbean            14579.371326
South-easternAsia    16311.810656
WesternAsia          18812.151459
NorthernEurope       20671.030185
WesternEurope        24770.467728
NorthernAmerica      25749.619445
EasternAsia          27485.120923
Name: GDP per capita (current US$), dtype: float64

Western Africa is more consistent with respect to GDP per capita (current US$)